/* Home.css */
.home-container {
    background: radial-gradient(circle at top left, #334C29, #4A6572, #2E3A25);
    min-height: 86.9vh;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero {
    text-align: center;
    max-width: 700px;
    padding: 50px;
    background-color: #2E3A25;
    border: 2px dashed #39FF14;
    border-left: 10px solid #39FF14;
    border-radius: 20px;
    box-shadow: 0 0 60px rgba(183, 234, 106, 0.5);
  }
  
  .hero h1 {
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    color: #00FFFF;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 2rem;
    color: #39FF14;
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    color: #E0E0E0;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #2bff00;
    color: #213b55;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 0 10px rgba(183, 234, 106, 0.5);
  }
  
  .cta-button:hover {
    background-color: #76d007;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(183, 234, 106, 0.5);
  }

  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fun-fact {
    background-color: #2E3A25;
    border: 2px dashed #39FF14;
    border-radius: 20px;
    margin-top: 40px;
    padding: 20px 30px;
    border-left: 10px solid #39FF14;
    border-radius: 12px;
    max-width: 700px;
    text-align: left;
    font-size: 1.5rem;
    color: #E0E0E0;
    box-shadow: 0 0 60px rgba(183, 234, 106, 0.5);
  }

  .fun-fact h3 {
    margin-bottom: 15px;
  }
  
  